.superInput {
    position: relative;
    max-width: 400px;
    padding: 30px 50px;
    margin: 20px auto 0;
    background-size: cover;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    border-radius: 10px;
}

.errorInput {
    position: relative;
    max-width: 400px;
    padding: 30px 50px;
    margin: 20px auto 0;
    background-size: cover;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    border-radius: 10px;
    border: 2px red dashed;
}

.error {
    color: red;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
}