.default {
    /*-webkit-writing-mode: horizontal-tb !important;*/
    /*-webkit-appearance: button;*/
    /*border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);*/
    /*border-style: solid;*/
    /*border-width: 1px;*/
    /*padding: 1px 7px 2px;*/
    /*text-rendering: auto;*/
    /*color: initial;*/
    /*display: inline-block;*/
    /*text-align: start;*/
    /*margin: 0em;*/
    /*font: 400 11px system-ui;*/
    text-decoration: none;
    display: inline-block;
    color: black;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, white 0%, deepskyblue 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
}

.red {
    /*background: lightcoral;*/
    /*-webkit-writing-mode: horizontal-tb !important;*/
    /*-webkit-appearance: button;*/
    /*border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);*/
    /*border-style: dashed;*/
    /*border-width: 3px;*/
    /*padding: 1px 7px 2px;*/
    /*text-rendering: auto;*/
    /*color: initial;*/
    /*display: inline-block;*/
    /*text-align: start;*/
    /*margin: 0em;*/
    /*font: 400 11px system-ui;*/
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, white 0%, red 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
}